{{>navbar}}
    <section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input name="name" placeholder="Name" class="form-control">
        </div>
        <div class="mb-3">
            <input name="age" placeholder="Age" class="form-control">
        </div>
        <div class="mb-3">
            <input name="email" placeholder="Email" class="form-control">
        </div>
        <div class="mb-3">
            <input type="submit" value="Add User" class="btn btn-primary"> 
        </div>

    </form>
    </section>
{{>footer}}
